<div class="app-container">
  <nav>
    <h2>{{ name }}</h2>
    <div class="list">
      <ul class="menu">
        <li>About</li>
        <li>Skills</li>
        <li>Portfolio</li>
        <li>Contact</li>
        <li>Contact</li>
      </ul>
      <div class="tools">
        <img width="12" height="12" src="https://img.icons8.com/fluency-systems-filled/48/phone.png" alt="phone"/> <span>+91 9790024764 </span>
        <div class="menu-icon"></div>
      </div>
    </div>
    
  </nav>
  <div class="home">
    <app-home></app-home>
  </div>
</div>

<section class="about">
  <app-about></app-about>
</section>  
<section class="skills">
  <app-skills></app-skills>
</section>
<section class="projects" style="border:2px solid orange">
  <app-projects></app-projects>
</section>
<section class="experience"> 
  <app-experience></app-experience>
</section>
<section class="contacts">
  <app-contacts></app-contacts>
</section>